/* globals.css or your main CSS file */
@import "tailwindcss";

@layer utilities {
  @media (min-width: 1536px) {
    :root {
      --screen-2xl: 1536px;
    }
  }
  
  @media (min-width: 2560px) {
    .card{
      height: 350px;
      width: 650px;
    }
    .header{
      width: 600px;
    }
        .font{
      font-size: 1.8rem;
    }
    .h1{
      font-size: 2.5rem;
    }
    .image{
      height: 400px;
      width: 400px;
    }
    .social-icons{
      scale: 2;
      padding-right: 100px;
      margin-top: 34px;
    }
    .form{
      scale: 2;
    }

  }
  @media (min-width: 3840px) {
    .card{
      height: 600px;
      width: 1060px;
    }
    .header{
      width: 800px;
    }
    .outlet{
      margin-left: 630px;
    }
    .font{
      font-size: 2.8rem;
    }
    .h1{
      font-size: 4rem;
    }
    .image{
      height: 400px;
      width: 400px;
    }
    .icon-scale{
      scale: 2;
    }
  }
}
/*
explain css ofr image and name for 3840 
*/